@font-face {
  font-family: 'FuturaBold';
  src: url('../fonts/FuturaBold.otf') format('truetype');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('../fonts/FuturaLight.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'FuturaBold';
}

.header {
  box-sizing: border-box;
  font-size: 1.6rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 20px;
  z-index: 3;
}

.header-cart {
  width: 27px;
  height: auto;
}

.nav-listContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.start {
  font-size: 1.6rem;
  position: relative;
  height: 100vh;
}

.start-imgCarrousel {
  object-fit: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: width 0.5 ease;
}

.start-button {
  display: flex;
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 60px;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    /* padding-left: 85px; */
    color: white;
    transition: color 0.3s ease;
    transition: background 0.3s ease;
    justify-content: space-around;
}

.start-button:hover {
  background: black;
  color: white;
  animation: pulsate 1s infinite;
}

.description {
  height: auto;
  background-color: grey;
}

.description__container {
  height: 100vh;
  position: relative;
}

.description__content {
  padding: 10rem;
}

.description__h3 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.description__text {
  font-size: 1.8rem;
  height: 45rem;
  width: 30rem;
  background-color: red;
}

.description__img {
  width: 30rem;
  height: 20rem;
}

.img-1 {
  position: absolute;
  top: 42%;
  left: 47%;
  z-index: 2;
  border: 1px solid blue;
  transition: .5s all ease-out;
  background: blue;
}

.img-2 {
  position: absolute;
  top: 30%;
  left: 60%;
  z-index: 1;
  border: 1px solid blue;
  transition: .5s all ease-out;
  background: red
}

.img-1:hover {
  transform: scale(1.15);
}

.img-2:hover {
  z-index: 2;
  transform: scale(1.15);
}

.description__container-link {
  display: flex;
  justify-content: center;
}

.description__link {
  padding: 1.8rem 10rem;
  background-color: red;
  font-size: 2rem;
  border-radius: 50rem;
  border: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.description__link:hover {
  outline: none;
  animation: pulsate 1s infinite;
}

/*
.description__link:hover {
    transform: scaleY(1.1);
    background-color: blue;
    transition: .4s all ease-out;
} */

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}




/* SECTION CONTAINER */

.section__container {
  height: 260vh;
  background-color: #F9F9F9;
  display: grid;
  z-index: 4;
}

.section__one {
  height: 100vh;
  background-image: url("../img/drone1.png");
  background-size: 50rem;
  top: 0 50%;
  background-position: 0 50%;
  object-fit: fill;
  background-repeat: no-repeat;
  /* background-color: red; */

  display: grid;
  grid-template-columns: 2fr 2fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 1rem;
  padding: 1rem;

  z-index: 5;
}


.description__text {
  grid-column: 2 / 4;
  grid-row: 2 / 5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 4rem;

  font-size: 2.2rem;
  line-height: 1.6;
}

.description__text-1 {
  grid-column: 2;
  grid-row: 1;

  width: 80%;
}

.description__text-2 {
  width: 80%;
}

.combi {
  font-weight: 700;
}

.description__text-3 {
  width: 80%;
}

.description__text-4 {
  width: 80%;

  font-weight: 700;
}

.edward {
  text-transform: uppercase;
}



.section__two {
  height: 100vh;
  background-image: url("../img/drone2.png");
  background-size: 50rem;
  top: 0 50%;
  background-position: 100% 50%;
  object-fit: fill;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 1rem;
  padding: 1rem;


  position: relative;
  top: -10%;
  z-index: 3;
}


.description__part2 {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 4rem;

  font-size: 2.2rem;
  line-height: 1.6;

}

.description__part2-text {
  width: 100%;
}

.section__three {
  height: 100vh;
  background-image: url("../img/drone3.png");
  background-size: 50rem;
  top: 0 50%;
  background-position: 0 50%;
  object-fit: fill;
  background-repeat: no-repeat;


  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 1rem;
  padding: 1rem;

  position: relative;
  top: -18%;
  z-index: 2;
}



.description__part3 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 4rem;

  font-size: 2.2rem;
  line-height: 1.6;

}

.description__part3-text {
  width: 100%;
}


/* FORMULAIRE */

.section__form {
  height: 80Vh;
  background: #F9F9F9;
  position: relative;
  z-index: 1;
  margin-top: -15rem;
}

.section__h4 {
  display: inline-block;
  margin-top: 10rem;
  margin-left: 35%;
}

.form__h4 {
  font-size: 2.4rem;
  text-align: center;
}

.form__group {
  display: grid;

  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 2rem;
  padding: 1rem;

  font-size: 2rem;
}

.form__nom {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__prenom {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__email {
  grid-column: 2;
  grid-row: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.form__label {
  margin-bottom: 1rem;
  font-size: 2rem;
}


.form__input {
  border-radius: .3rem;
  border: 1px solid #DCDCDC;
  outline: none;
  font-size: 1.8rem;
}

.form__send {
  position: relative;
  top: -33%;
  left: 52%;

}

.form__send2 {

}

.send {
  margin-top: 2rem;
  width: 30rem;
  height: 30rem;
}


.btn__container {
    grid-column: 2;
    grid-row: 8;
    display: inline-block;
    position: relative;

}

.btn__link, .btn__link:link, .btn__link:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;

    position: absolute;
    margin-top: 7rem;
    left: -58rem;
}

.btn__link::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
}


.btn__link:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn__link:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.link-blue {
    background-color: #1A4A54;
    color: #F9F9F9;
}

.link-blue::after {
      background-color: #1A4A54;
}


.socialimg {
margin-right: 8rem;
}
.social__list {
    display: flex;
    list-style: none;
}

.social__item {
  margin-right: 2rem;
}

.social__link {
}

.social__img {
    height: 4rem;
    width: 4rem;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 50px;
}


/* FOOTER */

.footer {
    height: 45vh;
    background: #D9D9D9;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 2rem;
}

.contact {
    grid-column: 1;
    grid-row: 1 / 3;
}

.footer__h4 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.footer__list {
    font-size: 1.6rem;
    line-height: 1.8;
}

.contact__list-item {
    list-style: none;
    margin-left: 3rem;

}

.shop__info {
    grid-column: 2;
    grid-row: 1 / 3;
}

.footer__h4 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.shop__list-item {
    margin-left: 3rem;
    list-style: none;
}

.news {
    grid-column: 3;
    grid-row: 1 / 3;
}

.news__text {
    font-size: 1.6rem;
    line-height: 1.8;
}
.copyright {
    grid-column: 1 / 4;
    grid-row: 3;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.formulaire {
    height: 70vh;
    background-color: #DD9;
}

.news__list {

}

.news__list-item {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-left: 3rem;
  list-style: none;
}

.formulaire__container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 2fr 0.5fr;
    grid-auto-rows: minmax(100rem, auto);
    grid-gap: 2rem;
    padding: 1rem;

}

.formulaire__h4 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 5rem;
}


.container__nom {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 3rem;
    background-color: red;
}

.container__prenom {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 3rem;
    background-color: red;
}

.container__tel {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;

    background-color: red;
}
.container__email {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;

    background-color: red;
}

.footerimg {
  height: 35vh;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 100vw 35vh;
  object-fit: fill;
}

















.wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.left-player {
  border-radius: 10px;
  grid-column: 1 / 4;
  grid-row: 1;
  height: calc(100vh - 60px);
}

.right-recap {
  grid-column: 4;
  grid-row: 1;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  position: relative;
}

.UnityPlayer {
  border-radius: 10px;
}

.recap-title {
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 20px;
}

.recap-item {
  font-family: 'FuturaLight';
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.recap-itemSpan {
  font-family: 'FuturaBold';
  font-size: 1.6rem;
}

.recap-button {
  width: 200px;
  display: flex;
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 60px;
  border: 2px solid black;
  border-radius: 30px;
  justify-content: space-around;
  color: white;
  transition: background 0.3s ease;
  font-size: 1.6rem;
  background: #616060a6;
  align-items: center;
}
.recap-button:hover {
  animation: pulsate 1s infinite;
  background: black;

}

.cart-container {
  height: calc(100vh - 60px);
  width: 100vw;
  background-image: url("../img/cart_left.png");
  background-repeat: no-repeat;
  background-size: 40rem;
  background-position: 0 50%;
}

.cart-itemsDescrition {
  width: 600px;
  height: auto;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr 0.2fr 0.3fr;
  text-align: right;
  align-items: center;
  border-bottom: 1px solid black;
}

.cart-item {
  overflow: hidden;
  padding: 3px 6px;
  white-space: nowrap;
}

.cart-cross {
  height: 20px;
  margin-left: 58px;
}

.cart-itemsContainer {
  width: 600px;
  height: auto;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr 0.2fr 0.3fr;
  text-align: right;
  align-items: center;
  border-bottom: 1px solid black;
}

.cart-listContainer {
  position: absolute;
  right: 150px;
  top: 200px;
}

.wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.left-player {
  grid-column: 1 / 4;
  grid-row: 1;
  height: calc(100vh - 60px);
}

.UnityPlayer {
  border-radius: 10px;
  border: 1px solid red;
}

.recap-title {
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 20px;
}

.recap-item {
  font-family: 'FuturaLight';
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.recap-itemSpan {
  font-family: 'FuturaBold';
  font-size: 1.6rem;
}

.cart-pay{
  font-size: 1.6rem;
  display: flex;
    position: absolute;
    width: 300px;
    height: 60px;
    right: 150px;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    color: white;
    background: grey;
    transition: color 0.3s ease;
    transition: background 0.3s ease;
    justify-content: space-around;
}
.cart-pay:hover{
  background: black;
}

.cart-payUp {
  top: 100px;
}

.cart-payDown {
  bottom: 100px;
}
